.gitignore
dellabeneta.link/terraform.tfvars
dellabeneta.link/terraform.tfstate
dellabeneta.link/terraform.tfstate.backup
dellabeneta.link/.terraform.lock.hcl
dellabeneta.link/.terraform.tfstate.lock.info
dellabeneta.link/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/CHANGELOG.md
dellabeneta.link/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/LICENSE
dellabeneta.link/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/README.md
dellabeneta.link/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/terraform-provider-digitalocean_v2.17.1.exe

dellabeneta.com/terraform.tfvars
dellabeneta.com/terraform.tfstate
dellabeneta.com/terraform.tfstate.backup
dellabeneta.com/.terraform.lock.hcl
dellabeneta.com/.terraform.tfstate.lock.info
dellabeneta.com/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/CHANGELOG.md
dellabeneta.com/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/LICENSE
dellabeneta.com/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/README.md
dellabeneta.com/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.17.1/windows_amd64/terraform-provider-digitalocean_v2.17.1.exe
